{% extends 'template.html' %}

{% block tab_title %}About Us{% endblock %}

{% block title %}About Athlete Website{% endblock %}

{% block content %}
<section class="account">
    <div class="container">
        <div class="login">
            <h4><b>About Us</b></h4>
            <p>
                Welcome to athlete website! We want to help people who are passionate about sports connect with their
                friends and groups in order to get them more invovled athletically. Our site allows you to create
                groups and invite your friends and family in order to share announcements and events, as well as help
                organize registration and track stats.<br /><br />

                Once you create an organization, you will be able to manage your page and add admins to help you do so.
                We hope you enjoy using our service!
            </p>
        </div>
    </div>
</section>
{% endblock %}