{% extends 'template.html' %}

{% block tab_title %}Home{% endblock %}

{% block title %}Welcome To Sportify{% endblock %}

{% block content %}
<section class="account">
    <div class="container">
        <div class="home-body-2">
	    <a class="btn form-btn" href="/myregistrations/" style="background-color: rgb(170, 169, 169); color: black;">View Events You Are Registered For</a>
	    <br /><br />
	    <h1 style="text-align: center;"><b>View Your Organizations</b></h1>
            <br />
            <ul>
            {% for org in org_list %}
	    <a href="/organization/{{ org[0] }}/" style="color: inherit; text-decoration: none; cursor: pointer;">
                    <li style="list-style: none;">
                        <div class="row align-items-start">
                            <div class="col-md-4">
				    <img class="org-logo" src="{{ org[2] }}" />
                            </div>
                            <div class="col-md-8">
                                <br />
				<h2>{{ org[1] }}</h2>
				<p>{{ org[3] }}</p>
                            </div>
                        </div>
                    </li>
                </a>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% endblock %}
