{% extends 'template.html' %}

{% block tab_title %}Home{% endblock %}

{% block title %}Welcome To Athlete Website{% endblock %}

{% block content %}
    <section class="account">
        <div class="container">
            <div class="home-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card rounded-3 m-2">
                        <div class="card-body">
                            <h5 class="card-title"><b>Want to Create an Organization?</b></h5>
                            <p class="card-text">
                                Athlete webiste allows you to create a group for your organization and invite users.
                                Once you have made a group, you are able to organize sporting events/tournaments, send announcments
                                invite participates, share scores, and many more featuers!
                            </p>
                            <a href="/create_organization" class="btn form-btn">Click Here to Create Your Group</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card rounded-3 m-2">
                        <div class="card-body">
                            <h5 class="card-title"><b>Want to Join a Group?</b></h5>
                            <p class="card-text">
                                Athlete website is the perfect service to get connected with people around you.
                                Once you join an organization, you will be able to receieve updates about events and 
                                track your stats. Ask your organization's admin to invite you to their group.
                            </p>
                            <a href="/register" class="btn form-btn">Click Here to Sign Up</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card rounded-3 m-2">
                        <div class="card-body">
                            <h5 class="card-title"><b>Want to Learn More About Us?</b></h5>
                            <p class="card-text">
                                Athlete website offers a plethora of services that you are able to take advantage of completely free!
                                To learn more about everything that we have to offer as both an event organizer and member, 
                                please check out our about us page.
                            </p>
                            <a href="/about_us" class="btn form-btn">Click Here to Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}