{% extends 'template.html' %}

{% block tab_title %}{{ prefix }} Events{% endblock %}

{% block title %}{{ prefix }} Events at {{ organization_name }}{% endblock %}

{% block content %}
<section class="account">
    <div class="container">
        <div class="home-body-2">
            <div class="row justify-content-center">
                <a class="btn form-btn" href=".." style="background-color: rgb(170, 169, 169); color: black;">Go
                    Back</a>
            </div>
	    <br />
	    <h2><b>Click an Event to View Details and Join</b></h2>
            
            <br /> <br />
            <ul>
                {% for event in event_list %}
                <a href="/organization/{{ org_id }}/events/{{ event[0] }}/"
                    style="color: inherit; text-decoration: none; cursor: pointer;">
                    <li style="list-style: none;">
                        <div class="row align-items-start">
                            <div class="col-md-4">
                                {% if event[4] %}
                                <img class="org-logo" src="{{ event[4] }}" />
                                {% else %}
                                <img class="org-log" src="{{url_for('static', filename='football.png')}}" style="width: 100%;">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <br />
                                <h2>{{ event[1] }}</h2>
                                <p><i>{{ event[2] }}</i><br />{{ event[3] }}</p>
                            </div>
                        </div>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% endblock %}
