{% extends 'template.html' %}

{% block tab_title %}Events{% endblock %}

{% block title %}Join Events at {{ organization_name }}{% endblock %}

{% block content %}
<section class="account">
    <div class="container">
        <div class="home-body-2">
            <h2><b>Click an Event to Join</b></h2>
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel"><b>Make Post</b></h5>
                        </div>
                        <div class="modal-body">
                            <form method="post">
                                <div class="form-group">
                                    <label for="post_title">Post Title</label>
                                    <input class="form-control" id="post_title" name="post_title">
                                    <br />
                                    <label for="post_content">Post Content</label>
                                    <textarea class="form-control" id="post_content" name="post_content" rows="4"
                                        cols="50"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn form-btn">Make Post</button>
                                    <!-- Move the submit button inside the form -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <br /> <br />
            <ul>
                {% for event in event_list %}
                <a href="/organization/{{ org_id }}/events/{{ event[0] }}/"
                    style="color: inherit; text-decoration: none; cursor: pointer;">
                    <li style="list-style: none;">
                        <div class="row align-items-start">
                            <div class="col-md-4">
                                <img class="org-logo" src="{{ event[4] }}" />
                            </div>
                            <div class="col-md-8">
                                <br />
                                <h2>{{ event[1] }}</h2>
                                <p><i>{{ event[2] }}</i><br />{{ event[3] }}</p>
                            </div>
                        </div>
                    </li>
                </a>
                {% endfor %}
            </ul>
            <div class="row justify-content-center">
                <a class="btn form-btn" href=".." style="background-color: rgb(170, 169, 169); color: black;">Go
                    Back</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}