{% extends 'template.html' %}

{% block tab_title %}Profile{% endblock %}

{% block title %}View Stats Below{% endblock %}

{% block content %}
<section class="account">
    <div class="container">
        <div class="home-body-2">
            <h1 style="text-align: center;"><b>View Your Upcoming Games and Past Scores</b></h1>
            <select id="sportSelect" class="table-dropdown" onchange="changeTable()">
                <option value="basketball">Basketball</option>
                <option value="football">Football</option>
                <option value="soccer">Soccer</option>
            </select>

            <table id="basketballTable">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Team 1</th>
                        <th>Team 1 Score</th>
                        <th>Team 2</th>
                        <th>Team 2 Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in basketball_list %}
                    <tr>
                        <td>{{ game[0] }}</td>
                        <td>{{ game[1] }}</td>
                        <td>{{ game[2] }}</td>
                        <td>{{ game[3] }}</td>
                        <td>{{ game[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table id="footballTable" style="display: none;">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Team 1</th>
                        <th>Team 1 Score</th>
                        <th>Team 2</th>
                        <th>Team 2 Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in football_list %}
                    <tr>
                        <td>{{ game[0] }}</td>
                        <td>{{ game[1] }}</td>
                        <td>{{ game[2] }}</td>
                        <td>{{ game[3] }}</td>
                        <td>{{ game[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table id="soccerTable" style="display: none;">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Team 1</th>
                        <th>Team 1 Score</th>
                        <th>Team 2</th>
                        <th>Team 2 Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in soccer_list %}
                    <tr>
                        <td>{{ game[0] }}</td>
                        <td>{{ game[1] }}</td>
                        <td>{{ game[2] }}</td>
                        <td>{{ game[3] }}</td>
                        <td>{{ game[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br /><br />
            <a href="../logout/" class="btn form-btn">Logout</a>
        </div>
    </div>
</section>

<script>
    function changeTable() {
            var selectBox = document.getElementById("sportSelect");
            var selectedValue = selectBox.value;

            // Hide all tables
            var tables = document.querySelectorAll("table");
            tables.forEach(function (table) {
                table.style.display = "none";
            });

            // Show the selected table
            var selectedTable = document.getElementById(selectedValue + "Table");
            if (selectedTable) {
                selectedTable.style.display = "table";
            }
        }
</script>

{% endblock %}
